---
import ImagenPrincipal from "../ui/ImagenPrincipal.astro";
---

<section>
    <ImagenPrincipal
      h2Title="Buscas tu terreno ideal? Nosotros la tenemos"
      srcImage="/header1.webp"
      description="Tenemos casas, terrenos listos para construir, puedes ver nuestro catalogo."
    />
</section>
