---
import ImagenPrincipal from "../ui/ImagenPrincipal.astro";
---

<section>
    <ImagenPrincipal
      h2Title="Encuentra la propiedad perfecta para tu próximo paso"
      srcImage="/header1.webp"
      description="Tenemos casas, terrenos listos para construir, puedes ver nuestro catalogo."
    />
</section>
