---
import TipoTerreno from "../ui/TipoTerreno.astro"
---
  
<section class:list={["text-center", "px-6", "py-12", "max-w-6xl mx-auto"]}>
  <h2 class:list={["text-5xl", "text-white", "mb-4"]}>Terrenos En Encarnación De Diaz y sus alrededores</h2>
  <p class:list={["text-lg", "text-gray-200", "leading-relaxed"]}>
    Aquí encontrarás todos los terrenos disponibles actualmente para venta o renta.  
    Consulta los detalles de cada propiedad, como ubicación, medidas, precio y fecha de publicación.  
    Nuestro objetivo es ayudarte a encontrar el terreno ideal de forma rápida y segura.
  </p>
  <h3 class:list={["text-4xl", "mt-8", "text-white", "mb-8"]}>¿Que tipo de terrenos buscas?</h3>
  <TipoTerreno/>
</section>