---
import CardServicios from "../ui/CardServicios.astro";

const phone = "524751080850"; 
---

<section id="servicios" class="bg-gradient-to-b from-sky-950/90 to-sky-950/80 via-sky-950/85 py-20 ">
  <div class="w-full mx-auto px-6">
    <h2 class="text-4xl md:text-5xl text-center text-white -mt-12 mb-4">
      Servicios
    </h2>

    <div class="flex justify-center md:gap-28 flex-col md:flex-row">
      <CardServicios
        titulo="¿Quieres Escriturar tu Terreno?"
        descripcion={`Te asesoramos durante todo el proceso legal para escriturar tu terreno. 
Nos aseguramos de que todos tus documentos estén en regla, facilitando un trámite 
seguro y confiable. Con nuestra experiencia en el mercado local, garantizamos que tu inversión 
esté protegida y lista para cualquier proyecto de construcción o venta.`}
        boton="Contáctame"
        href={`https://wa.me/${phone}?text=${encodeURIComponent("Hola, Noe Aguilera quiero informes para escriturar mi terreno")}`}
      />

      <CardServicios
        titulo="¿Quieres Publicar tu Terreno?"
        descripcion={`Nosotros te ayudamos a que tu terreno llegue a más personas interesadas. 
Publicamos tu propiedad con la mejor presentación, destacando sus características y 
asegurando que tenga la visibilidad que merece. Con nuestro apoyo, tu proceso de venta 
será más rápido, seguro y efectivo.`}
        boton="Contáctame"
        href={`https://wa.me/${phone}?text=${encodeURIComponent("Hola, Noe Aguilera quiero publicar mi terreno en tu página")}`}
      />
    </div>
  </div>
</section>
