---
import CardServicios from "../ui/CardServicios.astro";
---

<section class="bg-gradient-to-b from-[#0A192F] to-[#0C2540] py-20">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-4xl md:text-5xl font-bold text-center text-white mb-12">
      Servicios
    </h2>

    <div class="flex justify-center">
      <CardServicios
        titulo="¿Quieres Escriturar tu Terreno?"
        descripcion="Te asesoramos durante todo el proceso legal para escriturar tu terreno. 
        Nos aseguramos de que todos tus documentos estén en regla, facilitando un trámite 
        seguro y confiable. Con nuestra experiencia en el mercado local, garantizamos que tu inversión 
        esté protegida y lista para cualquier proyecto de construcción o venta."
        boton="Contáctame"
      />
    </div>
  </div>
</section>
