---
import CardServicios from "../ui/CardServicios.astro";
---

<section class="bg-gradient-to-b from-[#0A192F] to-[#0C2540] py-20">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-4xl md:text-5xl font-bold text-center text-white mb-12">
      Servicios
    </h2>

    <div class="flex justify-center gap-28">
      <CardServicios
        titulo="¿Quieres Escriturar tu Terreno?"
        descripcion={`Te asesoramos durante todo el proceso legal para escriturar tu terreno. 
Nos aseguramos de que todos tus documentos estén en regla, facilitando un trámite 
seguro y confiable. Con nuestra experiencia en el mercado local, garantizamos que tu inversión 
esté protegida y lista para cualquier proyecto de construcción o venta.`}
        boton="Contáctame"
      />

      <CardServicios
        titulo="¿Quieres Publicar tu Terreno?"
        descripcion={`Nosotros te ayudamos a que tu terreno llegue a más personas interesadas. 
Publicamos tu propiedad con la mejor presentación, destacando sus características y 
asegurando que tenga la visibilidad que merece. Con nuestro apoyo, tu proceso de venta 
será más rápido, seguro y efectivo.`}
        boton="Contáctame"
      />
    </div>
  </div>
</section>
