---
import UbicacionComponent from "../ui/UbicacionComponent.astro"
---

<section class:list={["flex", "flex-col", "items-center", "bg-gradient-to-b", "from-sky-950/80", "to-[#0C2540]"]}>
  <h2 class:list={["mt-16", "text-5xl", "text-white", "font-normal"]}>Conoce mi ubicacion</h2>
  <div class:list={["w-7xl", "mt-6", "rounded-3xl"]}><UbicacionComponent lat={21.5209919} lon={-102.2377808} zoom={17} alto="400" /></div>
  
</section>

bg-gradient-to-t from-sky-950/95 via-gray-700 to-sky-950