---
import UbicacionComponent from "../ui/UbicacionComponent.astro"
---

<section class=" flex flex-col items-center bg-gradient-to-b from-sky-950/80 to-[#0C2540] px-4 py-12">
  <h2 class="-mt-18 text-3xl md:text-5xl text-white font-normal text-center">
    Conoce mi ubicación
  </h2>

  <div class="w-full max-w-5xl mt-10 rounded-3xl overflow-hidden aspect-video mb-14">
    <UbicacionComponent 
      lat={21.5209919} 
      lon={-102.2377808} 
      zoom={17} 
    />
  </div>
</section>
