---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class:list={[
      "flex",
      "justify-center",
      "items-center",
      "h-full",
      "flex-col",
    ]}
  >
    <h1 class="text-4xl font-bold mb-8">Agregar terreno</h1>
    <div
      class:list={["bg-gray-400/40", "w-96", "h-auto", "p-8", "justify-center"]}
    >
      <form
        id="formularioTerreno"
        class:list={["space-y-4", "justify-center"]}
        enctype="multipart/form-data"
      >
        <input
          name="titulo"
          placeholder="Nombre del terreno"
          required
          class="w-full border p-2 rounded"
        />
        <textarea
          name="descripcion"
          placeholder="Descripción"
          required
          class="w-full border p-2 rounded"></textarea>
        <input
          name="precio"
          type="number"
          placeholder="Precio"
          required
          class="w-full border p-2 rounded"
        />
        <input
          name="medidas"
          placeholder="Medidas (Ej. 120x60)"
          class="w-full border p-2 rounded"
        />
        <input
          name="ubicacion"
          placeholder="Ubicación"
          class="w-full border p-2 rounded"
        />
        <div class="flex flex-col items-center space-y-2">
          <input
            type="file"
            id="imagen"
            name="imagen"
            accept="image/*"
            required
            class="hidden"
          />

          <label
            for="imagen"
            class="bg-amber-700 text-white px-4 py-2 rounded cursor-pointer hover:bg-amber-800 transition"
          >
            Seleccionar imagen
          </label>

          <img
            id="previewImagen"
            class="mt-2 max-w-full max-h-20 rounded shadow hidden"
            alt="Vista previa"
          />
        </div>

        <button
          type="submit"
          id="botonSubmit"
          disabled
          class:list={[
            "bg-green-700",
            "text-white",
            "px-4",
            "py-2",
            "rounded",
            "block",
            "mx-auto",
            "opacity-50",
            "cursor-not-allowed",
          ]}
        >
          Subir terreno
        </button>
      </form>
    </div>
  </div>

  <!-- Vincula el archivo externo -->
  <script type="module" src="/src/scripts/RegistrarTerreno.ts"></script>
</Layout>
