---
import Layout from "../layouts/Layout.astro";
import MostrarTerrenos from "../components/sections/MostrarTerrenos.astro";
import HeaderTerrenos from "../components/sections/HeaderTerrenos.astro";
import Navbar from "../components/ui/Navbar.astro";
---

<Layout>
  <div class="bg-sky-950">
    <div>
      <Navbar/>
    </div>
    <HeaderTerrenos/>
    <MostrarTerrenos />
  </div>
</Layout>
