---
import Layout from "../layouts/Layout.astro";
import MostrarTerenos from "../components/sections/MostrarTerenos.astro";
import Navbar from "../components/ui/Navbar.astro";
---

<Layout>
  <div class:list={["bg-sky-950"]}>
  <Navbar/>
  <MostrarTerenos/>
  </div>
</Layout>
