---
import Layout from "../layouts/Layout.astro";
import MostrarTerrenos from "../components/sections/MostrarTerrenos.astro";
---

<Layout>
  <div class="bg-sky-950">
    <MostrarTerrenos />
  </div>
</Layout>
