---
interface Props {
  text: string;
  href: string;
  isGhost: boolean;
  class?: string;
}

const { href, isGhost = false, text, class: className = "" } = Astro.props as Props;
---

<a
    href={href}
    class:list={[
    "text-sm", 
    "font-medium",
    "w-44",
    "py-3",
    "text-center",
    "rounded-xl",
    "duration-200",
    "border-2",
    "group-hover:shadow-lg",
    "mt-4",
    className,
    isGhost ? "bg-sky-950/80" : "bg-transparent",
    isGhost ? 'text-white' : 'text-white',
    isGhost ? 'border-brown' : 'border-brown',
    isGhost ? 'hover:bg-sky-950/100' : 'hover:bg-sky-950/30',
    isGhost ? 'hover:scale-105' : 'hover:scale-105',
    isGhost ? 'hover:text-white' : 'hover:text-white',
    isGhost ? 'hover:border-brown' : 'hover:border-brown',
  ]}
>
  {text}
  </a>
