---
interface Prop{
  titulo: string;
  descripcion: string;
  boton: string;
  href: string;
}

const { titulo, descripcion, boton, href } = Astro.props as Prop;
---

<article 
  class="flex items-center justify-end md:px-6 md:py-12 py-6 hover:scale-105 duration-500"
>
  <div 
    class="bg-sky-950/10 shadow-xl rounded-3xl w-full max-w-120 p-10 flex flex-col items-center text-center space-y-3 border-1 border-sky-800"
  >
    <h2 class="text-3xl md:text-4xl text-white">
      {titulo}
    </h2>
    <p class="md:text-lg text-white leading-relaxed text-sm">
      {descripcion}
    </p>
    <a 
      href={href}
      type="button" 
      class="bg-sky-800/80 text-white px-6 py-3 rounded-2xl mt-4 
             shadow-md hover:bg-sky-800 transition cursor-pointer hover:scale-110 duration-300"
    >
      {boton}
  </a>
  </div>
</article>
