---
interface Prop {
    class?: string
}

const { class: className=""} = Astro.props as Prop
---

<nav class:list={[
  "bg-white/10",
  "backdrop-blur-md",
  "backdrop-saturate-150",
  "border-b",
  "border-white/20",
  "shadow-lg",
  "sticky",
  "top-0",
  className
]}>
  <div>
    <!-- Parte superior: logo + redes -->
    <div class:list={["flex", "justify-between", "items-center", "px-4", "py-3", "gap-36"]}>
      <a href="/Home"><img src="/logo.png" class:list={["w-40", "hover:scale-110", "duration-300"]} alt="Logo del sitio" /></a>

      <ul class="flex gap-3">
        <li class:list={["hover:scale-110", "duration-300"]}><a href="https://facebook.com" aria-label="Facebook"><img src="/facebook.png" class="w-12" alt="Facebook" /></a></li>
        <li class:list={["hover:scale-110", "duration-300"]}><a href="https://instagram.com" aria-label="Instagram"><img src="/instagram.png" class="w-12" alt="Instagram" /></a></li>
        <li class:list={["hover:scale-110", "duration-300"]}><a href="https://tiktok.com" aria-label="TikTok"><img src="/tik-tok.png" class="w-12" alt="TikTok" /></a></li>
      </ul>
    </div>

    <!-- Línea de separación -->
    <div class="border-t border-white/20 mx-6 my-2"></div>

    <!-- Parte inferior: enlaces principales -->
    <ul class:list={[
      "flex",
      "justify-center",
      "text-white",
      "gap-8",
      "font-bold",
      "uppercase",
      "tracking-wide",
      "text-sm",
      "pb-3"
    ]}>
      <li class:list={["hover:scale-110", "hover:text-blue-500", "duration-300"]}><a href="/Home">Home</a></li>
      <li class:list={["hover:scale-110", "hover:text-blue-500", "duration-300"]}><a href="/MostrarTerrenos">Terrenos</a></li>
      <li class:list={["hover:scale-110", "hover:text-blue-500", "duration-300"]}><a href="/Conocenos">Conócenos</a></li>
    </ul>
  </div>
</nav>


