<article 
  class="flex items-center justify-start px-0 py-12"
>
  <div 
    class="bg-gray-800/50 shadow-xl rounded-3xl w-full max-w-120 p-10 flex flex-col items-center text-center space-y-3"
  >
    <h2 class="text-3xl md:text-4xl text-white">
      ¿Quieres Publicar tu Terreno?
    </h2>
    <p class="text-lg text-white leading-relaxed">
      Nosotros te ayudamos a publicar tu terreno para que obtengas una venta o renta mas rapida.
    </p>
    <button 
      type="button" 
      class="bg-sky-900 text-white px-6 py-3 rounded-2xl mt-4 
             shadow-md hover:bg-sky-800 transition cursor-pointer"
    >
      Contáctame
    </button>
  </div>
</article>
