<article class="flex justify-center px-4 py-6">
  <div class="bg-sky-800 rounded-2xl w-full max-w-6xl">
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 px-6 py-6 text-white text-center">
      <li>
        <a href="#terrenos" class=" w-full h-14 bg-sky-700 hover:bg-sky-600 transition-colors px-4 py-2 rounded-xl font-medium flex items-center justify-center">
          Terrenos
        </a>
      </li>
      <li>
        <a href="#casas" class=" w-full h-14 bg-sky-700 hover:bg-sky-600 transition-colors px-4 py-2 rounded-xl font-medium flex items-center justify-center">
          Casas
        </a>
      </li>
      <li>
        <a href="#comerciales" class=" w-full h-14 bg-sky-700 hover:bg-sky-600 transition-colors px-4 py-2 rounded-xl font-medium flex items-center justify-center">
          Propiedades Comerciales
        </a>
      </li>
      <li>
        <a href="#departamentos" class=" w-full h-14 bg-sky-700 hover:bg-sky-600 transition-colors px-4 py-2 rounded-xl font-medium flex items-center justify-center">
          Departamentos
        </a>
      </li>
      <li>
        <a href="#terrenos-comerciales" class=" w-full h-14 bg-sky-700 hover:bg-sky-600 transition-colors px-4 py-2 rounded-xl font-medium flex items-center justify-center">
          Terrenos Comerciales
        </a>
      </li>
    </ul>
  </div>
</article>
